<div class="text-center parent-cont mt-24px">
    <div *ngFor="let obj of trackerList" class="tracker-div">
       <p>{{obj.heading}}</p>
       <p>History</p>
       <ul *ngIf="obj.history.length">
        <li *ngFor="let history of obj.history">
            {{history}}
        </li>
       </ul>
       <!--No history found-->
       <p *ngIf="!obj.history.length">{{noHistoryFoundText}}</p>
    </div>
    <button (click)="openAddTaskPopup()" class="add-btn">+</button>
</div>




<!--Add Task Popup-->
<ng-template #addTask>
    <div>
       <p class="mb-1">Enter the Task Name</p>
       <input [(ngModel)]="newTask" tabindex="-1" class="task-input" type="text">
       <br>
       <button [mat-dialog-close]="true" class="save-btn">Save</button>
    </div>
</ng-template>