body {
    background-color: #F2F6F8;
    margin: 0;
    font-family: sans-serif;
}
.d-inline-block {
    display: inline-block;
}
.float-end {
    float: right;
}
.p-1 {
    padding: 0.5rem;
}
.mat-dialog-container{
    background-color: white;
}
.m-1{
    margin: 0.5rem;
}
.text-grey {
    color: gray;
}